{% extends "base.html" %}
{% load static %}
{% block content %}

<body>
    <div>
        <img class="img" src="{% static 'img/pericao.jpg' %}">
    </div>
    <div class="text-div">
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis sequi ex maiores natus sunt ea
            ab corrupti,
            rem nesciunt aliquid, voluptatem sint voluptatibus veniam voluptate nobis, quod architecto eveniet illo
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores praesentium suscipit iste culpa porro amet
            cumque quibusdam eos cupiditate! Nesciunt quibusdam qui dolores maiores quod alias doloribus facilis aut
            vel!</p>
        <p class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita deleniti explicabo
            consequatur sit ipsam
            ipsa consectetur vero ea minus repellendus molestiae neque, dolorum recusandae iusto repudiandae
            reprehenderit nam eius accusantium. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, est,
            soluta dignissimos vitae eaque voluptatem quae facilis a, eum aperiam facere recusandae omnis quam modi
            saepe assumenda tenetur id ad?</p>
    </div>


</body>

</html>

{% endblock %}